
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}


html, body{
    margin:0;
    padding:0;
    width:100%;
}


 
body{
width:94%;


display: flex;
flex-direction: column;


}

header{
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 35vh;
    background-image: url(logo.png);
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: contain;
    margin-bottom: 5%;
    margin-left: 6.3%;
  
    
    
}

#aboutBG{
    background-image: url(aboutBG.png);
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 45vh;
}

.navContainer{
    position: fixed;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    width:6%;
    height: 100vh;
    font-size: large;
    line-height: 75px;
    background-color: rgba(0, 0, 255, 0.589);
}

.navContainer nav a span{
    display: none;
}

.navContainer:hover {
    width:25%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;

}



.navContainer:hover nav a img{
    width:65px;
    height: auto;
    
}


.navContainer:hover nav a span{
    display: inline;
    font-size: 1.5rem;
    color:white;
 
}

.link{
    border-top: 1px solid black;
    border-bottom: 1px solid black;
}

.mainContent{
    width:100%;
    margin-left:5.3%;
    display: flex;
    justify-content: end;
    flex-wrap: wrap;
    
}


 nav a img{
    background-color: rgba(0, 0, 0, 0.329);
    border-radius: 15px;
    margin-left: 20%;
    margin-top:10%;
    width: 60%;
}

.mainContent h1{
   
    margin-left: 25%;
    width:70%;
    margin-top:0;
    font-size: 5rem;
    font-family: 'Indie Flower', cursive;
    
}

h2{
    font-size: 2rem;
    position: relative;
    margin-top: 3%;
    top:90%;
    left:10%;
    font-family:'Indie Flower', cursive;
}

 h3{
    font-size: 3rem;
    margin-top:10%;
    margin-bottom:10%;
}



.wordBG{
    display: flex;
    justify-content: center ;
    background-color: rgba(28, 28, 160, 0.76);
    width:50%;
    margin-top: 5%;
    margin-bottom: 5%;
    border-radius: 5px;
    margin-left: 28%;
    
}
#sec1Heading{
    text-shadow: 3px;
    
}

.sec{
    display: flex;
    justify-content: center;
    
    margin-left: 30%;
    margin-bottom: 10%;
    width: 40%;
    height: auto;
}

.sec p{
    font-size: 1.5rem;
    
}


footer{
  
    display: flex;
    justify-content: space-around;
    width: 100%;
    height: 30vh;
    background-color: rgba(29, 29, 112, 0.822);
    margin-left:6.3%;
}

